<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body ng-app="myApp" ng-controller="loginUser">
    {{message}}
    <input type="text" placeholder="Username" ng-model="username">
    <input type="text" placeholder="Password" ng-model="password">
    <input type="button" value="OK" ng-click="loginUser()">
    <p class="erreurMessage">Utilisateur inexistant/mot de passe incorrecte</p>
</body>
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dist/js/sb-admin-2.js"></script>

<!-- AngularJs -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script src="/js/loginUser.js"></script>

</html>